# Modules
Lib
Scripts

# configuration files
*.cfg

# project files
*.sublime-project

# workspace files
*.sublime-workspace

# unnecessary datasets
src/asif_1
src/image-sif

# pickle files
*.pkl

# saved image files
img_save.png
my_image.png

# recorded files
*.avi

# saved models
*.yml